# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
bin/
build/
vendor/

# Go modules
go.sum
go.work
go.work.sum

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Environment and config
.env
.env.*
local.env
.gitconfig

# Docker
*.pid
*.sock
docker-compose.override.yml

# Node (en caso de usar para frontend luego)
node_modules/
dist/
npm-debug.log*

# Coverage & test
coverage.out
*.coverprofile
*.testresult

# PostgreSQL (si guardás dumps locales)
*.dump
*.sql

# Backup / temp
*.bak
*.tmp
*.old
